<section class="about-section bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">GALS</h2>
          <p>GALS significa "Gestión Automatizada de Libros Socializados", una plataforma diseñada específicamente para las escuelas y sus asociaciones de padres y madres (AMPA) con el objetivo de simplificar el proceso de gestión de los libros del curso socializados.</p>
          <p>Con GALS, podrás controlar el stock de los libros y llevar un registro de las penalizaciones. Todo ello de forma automatizada y en una única plataforma.</p>
          <p>En GALS creemos firmemente en la importancia de la educación y en el papel fundamental que juegan los libros en ella. Por este motivo, hemos desarrollado una plataforma que facilita la gestión de los libros del curso socializados, ahorrando tiempo y esfuerzo al AMPA y asegurando que los libros lleguen a manos de todos los estudiantes que los necesiten.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="/img/LogoGALS-V2.png" alt="Logo">
        </div>
      </div>
    </div>
  </div>
</section>

