<div class="card">
    <div class="car-budy">
        <h1>About us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis illo odio sunt ipsam ipsa 
        libero veritatis! Nobis illo distinctio nostrum, expedita voluptatem pariatur quibusdam ullam,
         magnam nisi error quo. Adipisci possimus odit eligendi enim laboriosam molestiae cumque ipsa nostrum!
          Illo.</p>

    </div>
</div>

