<div class="jumbotron mt-4" style="background-color:rgb(189, 196, 186);">
    <h1 class="display-4">Gals-V1</h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis voluptas 
    unde debitis. Autem temporibus dolore sed labore recusandae praesentium in. Maxime 
    blanditiis id aperiam commodi veritatis doloribus magni fugit consequuntur.</p>
    <a href="https://www.instagram.com/13nestor13/" class="btn btn-primary btn.lg">NestorIG</a>
</div>