body {
    background-color: #f5f5f5;
}

.logo{
    width: 30%;
}

p { 
    margin:0;
    font-size: 0.875em;
}
form {
    display: inline;
}
h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 32px;
    font-weight: bold;
}
  