<div class="col-md-6 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3 class="text-center">Nuevo Libro</h3>
        </div>
        <div class="card-body">
            <form action="/books/new-book" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="title">Titulo</label>
                    <input type="text" id="title" name="title" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="isbn">ISBN</label>
                    <input type="text" id="isbn" name="isbn" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="editorial">Editorial</label>
                    <input type="text" id="editorial" name="editorial" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="stock">Stock</label>
                    <input type="number" id="stock" name="stock" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="course" >Curso</label>
                    <select id="course"  class="form-select" name="course" required>
                        <option value="">Seleccionar el curso del libro:</option>
                        <option value="1ESO">1ESO</option>
                        <option value="2ESO">2ESO</option>
                        <option value="3ESO">3ESO</option>
                        <option value="4ESO">4ESO</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="demand">Demanda</label>
                    <input type="number" id="demand" name="demand" value="0" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="penalizacion">Penalización</label>
                    <input type="number" step="0.01" id="penalizacion" name="penalizacion" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="image">Imagen</label>
                    <input type="file" id="image" name="image" class="form-control-file" required>
                </div>              
                <div class="form-group text-center">
                    <a href="javascript:history.back()" class="btn btn-danger mr-3">Cancelar</a>
                    <button class="btn btn-primary" type="submit">Guardar</button>
                </div>

                
            </form>
        </div>
    </div>
</div>
